

{% extends 'base_generic.html' %}


{% block content %}

{% load static %}

<link href="{% static 'css/styleslog.css' %}" rel="stylesheet">

<div class="masthead container d-flex align-items-center flex-column">
<div class="login-page">
  <div class="form">
<form method="POST" action="{% url 'login' %}">
{% csrf_token %}

<div>
    {% if form.errors %}
    <p style="color: red; font-size: 10px;">Usuario y/o contraseña incorrecto. Inténtalo de nuevo.</p>
    {% endif %}
   <p style="color: black; font-size: 15px; class="label"> Usuario: </p>
  <p></p>
  <td>{{ form.username }}</td>
</div>
<div>
   <p style="color: black; font-size: 15px; class="label"> Contraseña: </p>
  <p></p>
  <td>{{ form.password }}</td>
</div>

<div>
  <button class="btn btn-primary btn-xl" type="submit" value="login" > Ingresar </button>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
  </div>
</div>
</div>

{% endblock %}