
{% extends "base_generic.html" %}

{% block content %}
    <h1>Juego List: </h1>

    {% if juego_list %}

        <ul>
            {% for juego in juego_list %}
            <li>
                <a href="{{ juego.get_absolute_url }}"> {{ juego.title }} </a> ({{ juego.Plataforma }})
               
            </li>
            {% endfor %}
        </ul>

    {% else %}
        <p>No hay juegos disponibles</p>

    {% endif %}


    <br>
</br>   
    </div> 

    <div align="center"> <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v9.0&appId=376033047025121&autoLogAppEvents=1" nonce="aAq5n25t"></script>
        
        <div class="fb-post" data-href="https://web.facebook.com/NeeksRetro/posts/1720031858172526" data-show-text="true" data-width=""><blockquote cite="https://www.facebook.com/NeeksRetro/posts/1720031858172526" class="fb-xfbml-parse-ignore"><p>Prepara tus regalos o autoregalos 😎 en Neeks.CL. Compra Seguro Compra online y Recibe en 24 horas 🚛*</p>Publicado por <a href="https://www.facebook.com/NeeksRetro/">Neeks.CL</a> en&nbsp;<a href="https://www.facebook.com/NeeksRetro/posts/1720031858172526">Miércoles, 2 de diciembre de 2020</a></blockquote></div>
    </div>
    <br>
     </br>
{% endblock %}